{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "broswer": [
            "last 2 versions",
            "> 1%",
            "not dead"
          ]
        }
      }
    ]
  ]
}